#mainBackground{
    position: relative;
    height: 100vh;
}

#mainBackground:before{
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("/mainBackground.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

#infoBackground{
    height: 160px;
    background-color: #7d5a5a;
}

.itemBackground{
    background-color: #7d5a5abd;
}