#contentBackground{
    position: relative;
    top: 8vh;
    left: 25vh;
    width: 83.75%;
    background: linear-gradient(180deg, rgb(241, 209, 209) 0%, rgba(250,242,242,1) 100%);
    border: 2.4px solid black;
}

