.item{
    border: 2px solid gray;
}

.subItem{
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px 3%;
    padding: 20px 20px 0px 20px;
}

.fullItem{
    margin: 20px 5px;
    padding: 10px;
}