#twoSectionsBody{
    height: 92vh;
}

#sidebar{
    position: fixed;
    top: 8vh;
    height: 92vh;
    width: 25vh;
    background: linear-gradient(180deg, rgba(125,90,90,1) 0%, rgba(241,209,209,1) 100%);
    border: 2.4px solid black;
}
