a{
    display: block; 
    text-decoration: none;
    color: #202020;
}

a:hover{
    color: #f1f1f1;
}

.sameLineText{
    display: inline;
}

.rightSideText{
    text-align: right;
}

.middleText{
    text-align: center;
}

.leftSideText{
    text-align: left;
}

.notVital{
    font-size: small;
    font-weight: lighter;
}

.bold{
    font-weight: bold;
}