<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/template_frame.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/sidebar.css">
    <link rel="stylesheet" href="/content.css">
    <script src="/header_search_input.js" defer></script>
</head>
<body>
    <div id="main">
        <div id="header" class="row align-items-center">
            <div id="logo" class="col-2 text-center">
                <h1>Orpheus+</h1>
            </div>
            <div class="col-8">
                <input id="search" type="text" name="searched" placeholder="Search by song or artist">
            </div>
            <div class="col-2 text-center">
                <img id="user_icon" src="https://png2.cleanpng.com/sh/42a0004ed9681aaa5a2c0398b22a3719/L0KzQYm3VMA1N5tpiZH0aYP2gLBuTfNwdaF6jNd7LXnmf7B6TgV0baMyiOR4ZnnvdX7qjPlxNZJ3jJ9raXewRbLqVcI5O2lmeapsN0KxQoOBVskxPWo2TaQ7OEezQ4OBVsk5Pl91htk=/kisspng-computer-icons-user-profile-clip-art-big-5ac52838aa8c72.2286905915228703286986.png"/> 
                <span>User</span>
                <div class="dropdown">
                    <img id="user_drop" src="https://png2.cleanpng.com/sh/eb433e258565917e98aa067f1d603e1c/L0KzQYm3WMA0N6NujJH0aYP2gLBuTfRzd6EyfNHCbj3vecT7TfNwdaF6jNd7LXnmf7B6TfNtcaEyeeR9LX3ofsa0kBNidJJnRdN7cnB6PbX2lB4ue6dsReJ3Zz3sc7F1TfZzbZYyfNHCbnzycbW0U8Q1P2o6RadrNkW1QrPtg8dlbJQ8RqoAMEW5QoG8UcU0O2Q6TKgDN0i0SIi1kP5o/kisspng-drop-down-list-computer-icons-clip-art-menu-scalab-arrow-down-svg-png-icon-free-download-344795-5b6522bfc7ddc7.8505620515333546878187.png"/>
                    <div class="dropdown_content">
                        <a href="#">Profile</a>
                        <a href="#">Upgrade</a>
                        <a href="#">Sign Out</a>
                    </div>
                </div>
            </div>
        </div>