#main{
    position: relative;
    margin: 0px 5% 0px 5%;
}

#header{
    position: fixed;
    height: 8vh;
}

#sidebar{
    position: fixed;
    top: 8vh;top: 8vh;
}

#content{
    position: relative;
    top: 8vh;
    left: 50vh;
}