<% if(user_id === "-1") { %>
    <%- include('partials/header_clientFree.ejs') %>
<% } else { %>
    <%- include('partials/header_clientLogin.ejs') %>
<% } %>
<%- include('partials/sidebar_client.ejs') %>
<link rel="stylesheet" href="/info_content.css">

<div id="contentBackground">
    <div id="content">
        <div id="infoBackground" class="row">
        </div>
        <div id="infoContent" class="row">
            <div id="infoHeader" class="row align-items-center">
                <div class="col-2">
                    <img class="infoImage" src="/temp_userIcon.png"/>
                    <button id="changePic">Choose Photo</button>
                </div>
                <div class="col-8">
                    <input id="search" type="text" name="userName" placeholder="User">
                </div>
                <div class="col-2">
                    <img class="itemButton saveEdit" src="/save.png"/>
                </div>
            </div>
            <div id="infoBody" class="row">
                <div id="favoriteSongs" class="row">
                    <h1 class="groupName">Favorite songs</h1>
                    <div class="row">
                        <div class="col-4 item">
                            <img class="itemImage" src="/temp_songIcon.png"/>
                            <h3>Title</h3>
                            <p>Artist Name</p>
                        </div>
                        <div class="col-4 item">
                            <img class="itemImage" src="/temp_songIcon.png"/>
                            <h3>Title</h3>
                            <p>Artist Name</p>
                        </div>
                        <div class="col-4 item">
                            <img class="itemImage" src="/temp_songIcon.png"/>
                            <h3>Title</h3>
                            <p>Artist Name</p>
                    </div>
                </div>
                <div id="favoriteArtists" class="row">
                    <h1 class="groupName">Favorite artists</h1>
                    <div class="row">
                        <div class="col-4 item">
                            <img class="itemImage" src="/temp_artistIcon.png"/>
                            <h3>Artist Name</h3>
                            <p class="hidden">bg</p>
                        </div>
                        <div class="col-4 item">
                            <img class="itemImage" src="/temp_artistIcon.png"/>
                            <h3>Artist Name</h3>
                            <p class="hidden">bg</p>
                        </div>
                        <div class="col-4 item">
                            <img class="itemImage" src="/temp_artistIcon.png"/>
                            <h3>Artist Name</h3>
                            <p class="hidden">bg</p>
                    </div>
                </div>
                <div id="favoriteGenres" class="row">
                    <h1 class="groupName">Favorite genres</h1>
                    <div class="row">
                        <div class="col-4 item">
                            <img class="itemImage" src="/temp_genreIcon.png"/>
                            <h3>Genre</h3>
                            <p class="hidden">bg</p>
                        </div>
                        <div class="col-4 item">
                            <img class="itemImage" src="/temp_genreIcon.png"/>
                            <h3>Genre</h3>
                            <p class="hidden">bg</p>
                        </div>
                        <div class="col-4 item">
                            <img class="itemImage" src="/temp_genreIcon.png"/>
                            <h3>Genre</h3>
                            <p class="hidden">bg</p>
                    </div>
                </div>
                <div id="userInfo" class="row">
                    <h1>Personal information</h1>
                    <div class="indented">
                        <div id="userEmail" class="row">
                            <div class="col">
                                <h3>Email: userEmail@email.something</h3>
                            </div>
                            <div class="col-3">
                                <button id="changeMail">Change Email</button>
                            </div>
                        </div>
                        <div id="userPassword" class="row">
                            <div class="col">
                                <h3>Password:</h3>
                            </div>
                            <div class="col-3">
                                <button id="changePass">Change Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer_contentWithSidebar.ejs') %>