<% if(user_id === "-1") { %>
    <%- include('partials/header_clientFree.ejs') %>
<% } else { %>
    <%- include('partials/header_clientLogin.ejs') %>
<% } %>
<%- include('partials/sidebar_client.ejs') %>
<link rel="stylesheet" href="/info_content.css">

<div id="contentBackground">
    <div id="content">
        <div id="infoBackground" class="row">
        </div>
        <div id="infoContent" class="row">
            <div id="infoHeader" class="row align-items-center">
                <div class="col-2">
                    <img class="infoImage" src="/temp_artistIcon.png"/>
                </div>
                <div class="col-8">
                    <h1>Artist Name</h1>
                </div>
                <div class="col-2">
                    <img class="itemButton favorite" src="/favoriteIcon_favorite.png"/>
                </div>
            </div>
            <div id="infoBody" class="row">
                <div id="genreList" class="row">
                    <div class="col">
                        <h3 class="sameLineText">Genre: </h3>
                        <h4 class="sameLineText">genre</h4>
                    </div>
                </div>
                <div id="contacts" class="row">
                    <div class="col">
                        <h3>Contact:</h3>
                        <div class="indented">
                            <h5><img class="socialMedia" src="/facebookIcon.png"/> : facebook account / fan page</h5>
                            <h5><img class="socialMedia" src="/youtubeIcon.png"/> : youtube channel</h5>
                            <h5><img class="socialMedia" src="/instagramIcon.png"/> : Instagram account</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer_contentWithSidebar.ejs') %>