<% if(user_id === "-1") { %>
    <%- include('partials/header_user_free.ejs') %>
<% } else { %>
    <%- include('partials/header_user_login.ejs') %>
<% } %>
<%- include('partials/sidebar_user.ejs') %>
<link rel="stylesheet" href="/fake_background.css">
<link rel="stylesheet" href="/playlist_content.css">
<script src="/searchResult_button.js" defer></script>

<div id="content">
    <div id="background" class="row">
        <p class="hidden forBackground">bg</p>
    </div>
    <div id="infoPage">
        <h1>Playlist name</h1>
        <div class="row align-items-center item">
            <div class="col-2">
                <img class="itemImage" src="/temp_songIcon.png"/>
            </div>
            <div class="col">
                <h3>Title</h3>
                <p>Artist name - Genre</p>
            </div>
            <div class="col-1">
                <img class="itemButton not-favorite" src="/favoriteIcon_not-favorite.png"/>
            </div>
            <div class="col-1">
                <img class="itemButton download free" src="/download.png"/>
            </div>
        </div>
        <div class="row align-items-center item">
            <div class="col-2">
                <img class="itemImage" src="/temp_songIcon.png"/>
            </div>
            <div class="col">
                <h3>Title</h3>
                <p>Artist name - Genre</p>
            </div>
            <div class="col-1">
                <img class="itemButton favorite" src="/favoriteIcon_favorite.png"/>
            </div>
            <div class="col-1">
                <img class="itemButton download free" src="/download.png"/>
            </div>
        </div>
        <div class="row align-items-center item">
            <div class="col-2">
                <img class="itemImage" src="/temp_songIcon.png"/>
            </div>
            <div class="col">
                <h3>Title</h3>
                <p>Artist name - Genre</p>
            </div>
            <div class="col-1">
                <img class="itemButton favorite" src="/favoriteIcon_favorite.png"/>
            </div>
            <div class="col-1">
                <img class="itemButton download free" src="/download.png"/>
            </div>
        </div>
        <div class="row align-items-center item">
            <div class="col-2">
                <img class="itemImage" src="/temp_songIcon.png"/>
            </div>
            <div class="col">
                <h3>Title</h3>
                <p>Artist name - Genre</p>
            </div>
            <div class="col-1">
                <img class="itemButton not-favorite" src="/favoriteIcon_not-favorite.png"/>
            </div>
            <div class="col-1">
                <img class="itemButton download free" src="/download.png"/>
            </div>
        </div>
        <div class="row align-items-center item">
            <div class="col-2">
                <img class="itemImage" src="/temp_songIcon.png"/>
            </div>
            <div class="col">
                <h3>Title</h3>
                <p>Artist name - Genre</p>
            </div>
            <div class="col-1">
                <img class="itemButton not-favorite" src="/favoriteIcon_not-favorite.png"/>
            </div>
            <div class="col-1">
                <img class="itemButton download free" src="/download.png"/>
            </div>
        </div>
        <div class="row align-items-center item">
            <div class="col-2">
                <img class="itemImage" src="/temp_songIcon.png"/>
            </div>
            <div class="col">
                <h3>Title</h3>
                <p>Artist name - Genre</p>
            </div>
            <div class="col-1">
                <img class="itemButton favorite" src="/favoriteIcon_favorite.png"/>
            </div>
            <div class="col-1">
                <img class="itemButton download free" src="/download.png"/>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>