<%- include('partials/header_user.ejs') %>

<div id="body" class="row">
    <div class="col-6">
    </div>
    <div id="mainSection" class="col-6">
        <div id="mainContent">
            <div id="FormDescription" class="row">
                <h2 class="middleText">RESET PASSWORD</h2>
                <p><span class="bold">Advice: </span>please keep your password safe and try to keep it unique</p>
            </div>
            <div id="resetPasswordForm" class="row">
                <div class="form">
                    <input class="fullSize" id="newPassword" type="text" name="newPassword" placeholder="New Password">
                    <p class="notVital hidden">space</p>
                    <input class="fullSize" id="confirmPassword" type="text" name="rePassword" placeholder="Confirm New Password">
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                </div>
                <div id="resetPasswordButton" class="col-4">
                    <a href="#"><button class="fullSize">Reset</button></a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer_contentNoSidebar.ejs') %>