<% if(user_id === "-1") { %>
    <%- include('partials/header_clientFree.ejs') %>
<% } else { %>
    <%- include('partials/header_clientLogin.ejs') %>
<% } %>
<%- include('partials/sidebar_client.ejs') %>
<link rel="stylesheet" href="/searchResult_content.css">
<script src="/itemButton.js" defer></script>

<div id="contentBackground">
    <div id="content">
        <div id="sortResult">
            <label>Sort by: </label>
            <input type="radio" name="sortBy" value="Title"><label> Title </label>
            <input type="radio" name="sortBy" value="Artist"><label> Artist </label>
        </div>
        <div id="results">
            <div class="row align-items-center item">
                <div class="col-2">
                    <img class="itemImage" src="/temp_songIcon.png"/>
                </div>
                <div class="col">
                    <h3>Title</h3>
                    <p>Artist name - Genre</p>
                </div>
                <div class="col-1">
                    <img class="itemButton not-favorite" src="/favoriteIcon_not-favorite.png"/>
                </div>
                <div class="col-1">
                    <img class="itemButton download free" src="/download.png"/>
                </div>
            </div>
            <div class="row align-items-center item">
                <div class="col-2">
                    <img class="itemImage" src="/temp_songIcon.png"/>
                </div>
                <div class="col">
                    <h3>Title</h3>
                    <p>Artist name - Genre</p>
                </div>
                <div class="col-1">
                    <img class="itemButton favorite" src="/favoriteIcon_favorite.png"/>
                </div>
                <div class="col-1">
                    <img class="itemButton download free" src="/download.png"/>
                </div>
            </div>
            <div class="row align-items-center item">
                <div class="col-2">
                    <img class="itemImage" src="/temp_songIcon.png"/>
                </div>
                <div class="col">
                    <h3>Title</h3>
                    <p>Artist name - Genre</p>
                </div>
                <div class="col-1">
                    <img class="itemButton favorite" src="/favoriteIcon_favorite.png"/>
                </div>
                <div class="col-1">
                    <img class="itemButton download free" src="/download.png"/>
                </div>
            </div>
            <div class="row align-items-center item">
                <div class="col-2">
                    <img class="itemImage" src="/temp_songIcon.png"/>
                </div>
                <div class="col">
                    <h3>Title</h3>
                    <p>Artist name - Genre</p>
                </div>
                <div class="col-1">
                    <img class="itemButton not-favorite" src="/favoriteIcon_not-favorite.png"/>
                </div>
                <div class="col-1">
                    <img class="itemButton download free" src="/download.png"/>
                </div>
            </div>
            <div class="row align-items-center item">
                <div class="col-2">
                    <img class="itemImage" src="/temp_songIcon.png"/>
                </div>
                <div class="col">
                    <h3>Title</h3>
                    <p>Artist name - Genre</p>
                </div>
                <div class="col-1">
                    <img class="itemButton not-favorite" src="/favoriteIcon_not-favorite.png"/>
                </div>
                <div class="col-1">
                    <img class="itemButton download free" src="/download.png"/>
                </div>
            </div>
            <div class="row align-items-center item">
                <div class="col-2">
                    <img class="itemImage" src="/temp_songIcon.png"/>
                </div>
                <div class="col">
                    <h3>Title</h3>
                    <p>Artist name - Genre</p>
                </div>
                <div class="col-1">
                    <img class="itemButton favorite" src="/favoriteIcon_favorite.png"/>
                </div>
                <div class="col-1">
                    <img class="itemButton download free" src="/download.png"/>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer_contentWithSidebar.ejs') %>