<%- include("partials/header_signIn.ejs") %>

<div class="card bg-lWood text-white-75">
    <form class="form-signin" action="/signUp" method="POST">
        <img class="w-75 mb-4" src="/resources/images/webLogo.png" alt="logo">
        <h1 class="h3 mb-3 font-weight-bold">Sign Up</h1>
        <input type="text" class="form-control bg-wSmoke" name="username" placeholder="Username">
        <input type="password" class="form-control bg-wSmoke" name="password" placeholder="Password">
        <input type="password" class="form-control bg-wSmoke" name="rePassword" placeholder="Confirm your password">
        <input type="email" class="form-control bg-wSmoke" name="email" placeholder="Email">
        <button class="btn btn-lg btn-light btn-block w-100 bg-vIce" type="submit">Sign Up</button>
    </form>
</div>

<%- include("partials/footer.ejs") %>