<%- include("partials/header_signIn.ejs") %>

<div class="card bg-lWood text-white-75">
    <form class="form-signin" action="/signIn" method="POST">
        <img class="w-75 mb-4" src="/resources/images/webLogo.png" alt="logo">
        <h1 class="h3 mb-3">Sign In</h1>
        <input type="text" class="form-control bg-wSmoke" name="username" placeholder="Username">
        <input type="password" class="form-control bg-wSmoke" name="password" placeholder="Password">
        <button class="btn btn-lg btn-light btn-block w-100 bg-vIce" type="submit">Sign in</button><hr>
    </form>
    <label>Doesn't have an account?</label>
    <a href="/signUp"><button class="btn btn-lg btn-light btn-block w-100 bg-vIce">Sign Up</button></a>
</div>

<%- include("partials/footer.ejs") %>