<%- include('partials/header_clientLogin.ejs') %>
<link rel="stylesheet" href="/buyingPremium.css">

<div id="contentBackground">
    <div id="content">
        <div id="webLogo" class="row">
            <div class="col">
                <img class="logo" src="/webLogo.png"/>
            </div>
        </div>
        <div id="description" class="row">
            <div class="col">
                <h2>IN THE MOOD - ANYWHERE, ANYTIME</h2>
                <p>
                    with <span class="bold">ORPHEUS+</span><br>
                    download <span class="bold">any song</span> and listen <span class="bold">offline</span>
                </p>
            </div>
        </div>
        <div id="premiumOptions" class="row">
            <div class="col choice">
                <h4>Free trial</h4>
                <h5>1 Month</h5>
            </div>
            <div class="col choice">
                <h4>1 Month</h4>
                <h5>100 THB</h5>
            </div>
            <div class="col choice">
                <h4>3 Months</h4>
                <h5>250 THB</h5>
            </div>
            <div class="col choice">
                <h4>1 Year</h4>
                <h5>1000 THB</h5>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer_contentNoSidebar.ejs') %>