.text-black-75{
    color: rgba(0, 0, 0, .75);
}

.text-white-75{
  color: rgba(255, 255, 255, .75);
}

/* When text too long, use "..." */
.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-vIce{
    background-color: #f1d1d1;
}

.bg-lWood{
    background-color: #7d5a5a;
}

.hover-lWood:hover{
  background-color: #7d5a5a;
}

.bg-tutu{
    background-color: #f3e1e1;
}

.bg-wSmoke{
    background-color: #faf2f2;
}

.text-white-75{
    color: rgba(255, 255, 255, .75);
}


