#info_page{
    padding: 6%;
}

#sub_info{
    padding: 4% 6% 2% 6%;
}

.disc{
    width: 150px;
    height: 150px;
    background-color: white;
    border: 2px solid black;
}

.item_button{
    width: 75px;
    height: 75px;
}

.difSize_oneLine{
    display: inline;
}

#title{
    font-weight: bold;
}

.easter{
    color: #7d5a5a7e;
    font-size: 100px;
}

#background{
    background-color: #7d5a5a;
}

.socialMedia{
    height: 25px;
    width: 25px;
    display: inline-block;
}

.indented{
    margin: 0px 5%;
}