body {
    font-size: .875rem;
  }

  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

.bg-custom{background-color:#7d5a5a}

.bg-custom2{background: linear-gradient(180deg, rgba(125,90,90,1) 0%, rgba(241,209,209,1) 100%)}

/* ... when text too long */

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-customGradient{
    background: linear-gradient(180deg, rgba(241,209,209,1) 0%, rgba(250,242,242,1) 100%);
}

  .text-black-75{
    color: rgba(0, 0, 0, .75);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(125, 90, 90, 0.6);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(125, 90, 90, 1); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(125, 90, 90, 0.8); 
}

/* No arrow in input[type=number] */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.item{
  border: 2.5px solid black;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(125,90,90,1) 0%, rgba(125,90,90,0.45) 100%);
}

.item-sub{
  width: 225px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.item-full{
  padding: 10px;
}

.bg-vIce{
  background-color: #f1d1d1;
}

.hover-lWood:hover{
  background-color: #7d5a5a;
}

.bg-lWood{
  background-color: #7d5a5a;
}

.text-white-75{
  color: rgba(255, 255, 255, .75);
}

.obj-fit-cover{
  object-fit: cover;
}

.obj-fit-sDown{
  object-fit: scale-down;
}

a.nav-item{
  color: #f1f1f1;
}

a.nav-item:visited{
  color: #f1f1f1;
}

a{
  text-decoration: none;
  color: #4e3939;
}

a:hover{
  color: #916a6a;
}

.item a:hover{
  color: #f3e1e1;
}

.nav-link{
  text-decoration: none;
  color: rgba(0, 0, 0, .75);
}

.nav-link:hover{
  color: #f1f1f1;
}

.d-hidden{
  visibility: hidden;
}

.nav-item.active{
  background-color: rgba(151, 151, 151, 0.705);
}